@import "./hexgrid.css";

html,
body {
  background-color: var(--white);
  line-height: 1.8;
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  color: var(--black);
}
* {
  box-sizing: border-box;
}
a {
  color: var(--dark-blue);
  text-decoration: none;
}
p {
  margin-bottom: 1.5rem;
  hyphens: auto;
}
h2 {
  font-size: 1.6125rem;
  font-weight: 800;
  margin-bottom: 1rem;
  line-height: 1.5;
}
h3 {
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
h4 {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.2;
}
/**********************
    UTILITIES
/**********************/
.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 1em;
  grid-row-gap: 1em;
}
.text-center {
  text-align: center;
}
.card {
  box-shadow: var(--shadow);
  border-radius: 10px;
  padding: 2rem 1rem;
  background-color: var(--white);
  z-index: 1;
}
.flex {
  display: flex;
}
.px-1 {
  padding: 0 1rem;
}
.underline {
  background: var(--line-gradient) no-repeat 0 48px;
  padding: 0 0 0.8rem;
  width: fit-content;
}
.mx-auto {
  display: block;
  margin: 0 auto;
  width: fit-content;
}
.col-12 {
  grid-column: span 12;
}
.btn-primary {
  min-height: 50px;
  border: none;
  background-color: var(--dark-blue);
  color: white;
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 10px;
  padding: 0 33px;
  cursor: pointer;
  transition: border-radius 0.5s ease;
}
.btn-primary:hover {
  border-radius: 20px;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}
.three-lines {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
}
.gradient-text {
  background: linear-gradient(
    -90deg,
    rgba(28, 127, 165, 1) 0%,
    rgba(31, 31, 31, 1) 90%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/**********************
  HEADER AND NAVBAR
/**********************/
div.logo {
  position: relative;
  z-index: 3;
  cursor: pointer;
}
div.logo.active {
  background-color: var(--white);
}
header h1 {
  min-width: 170px;
  background: url("../public/images/logo-strict.webp") no-repeat center/cover;
  min-height: 35px;
  margin: 10px 0 0 1rem;
  text-indent: -99999px;
}
header .container {
  display: flex;
  background-color: rgba(249, 249, 249, 0.9);
  min-height: 55px;
  justify-content: space-between;
  font-size: 1.125rem;
  font-weight: 300;
}
header .container.active {
  background-color: var(--white);
}
header {
  box-shadow: var(--shadow);
  position: sticky;
  top: 0;
  z-index: 10;
}
header nav {
  display: flex;
  align-items: center;
}
header a {
  color: var(--black);
}
header nav > ul {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: -400px;
  left: 0;
  transition: all 0.5s ease;
  z-index: 2;
}
header nav > ul.active {
  top: 55px;
}
.dropdown {
  cursor: pointer;
}
header nav > ul > li {
  /* top level nav */
  margin: 0 0;
  display: block;
  width: 100vw;
  padding: 5px 20px;
  line-height: 3;
  background-color: var(--white);
  transition: all 0.5s ease;
}
header nav > ul > li a {
  cursor: pointer;
  height: 100%;
  width: 100%;
  display: block;
}
.dropdown {
  position: relative;
  display: block;
}
.dropdown > ul {
  text-align: left;
  position: absolute;
  display: none;
  background-color: var(--white);
}
.dropdown.show > ul {
  display: block;
  position: relative;
}
.dropdown.show > ul > li {
  padding: 0 0 0 20px;
}
.burger {
  font-size: 2.5rem;
  opacity: 0.8;
  padding: 0 1rem 0 0;
  cursor: pointer;
  z-index: 3;
}
.caret {
  position: relative;
  bottom: -4px;
  display: inline-block;
  pointer-events: none;
  cursor: not-allowed;
}
.overlay {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    180deg,
    rgba(28, 127, 165, 0.7) 0%,
    rgba(31, 31, 31, 0.7) 100%
  );
  position: absolute;
  z-index: 1;
}
/**********************
        FOOTER
/**********************/
footer {
  background-color: var(--dark-blue);
  color: var(--white);
  padding: 4rem 1rem;
  margin-top: 2rem;
}
footer a {
  color: var(--white);
}
footer a:hover {
  color: var(--green);
}
nav.footer-links {
  grid-column: span 12;
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
  justify-content: center;
}
nav.footer-links a {
  padding: 15px 8px 15px 0;
}
nav.footer-links ul {
  width: 49%;
  margin: 0 auto 1rem;
  display: block;
  text-align: center;
}
nav.footer-links ul li {
  font-size: 1rem;
  font-weight: 400;
  margin: 15px 0;
  line-height: 1.2;
}
nav.footer-links ul li:first-child {
  font-size: 1.25rem;
  margin: 0;
  font-weight: 600;
}
.social {
  grid-column: span 12;
}
.social ul {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
.social li {
  margin: 0 15px;
}
.footer-logo {
  grid-column: span 12;
  background: url("../public/images/footer-logo.webp") no-repeat center/contain;
  min-height: 120px;
  margin-bottom: 1rem;
}
footer p {
  grid-column: span 12;
  text-align: center;
  line-height: 1.2;
}
p small {
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1;
  color: var(--white);
}
small a {
  font-weight: 600;
  padding: 18px 0;
}
/**********************
      HOMEPAGE
/**********************/
main {
  padding: 2rem 0;
  overflow: hidden;
  position: relative;
}
.hero-content {
  grid-column: span 12;
}
.hero-content h2 {
  font-size: 2rem;
  line-height: 1.3;
}
.homepage .hero-image {
  min-height: 350px;
  width: 100%;
  background: url(../public/images/homepage-hero-min.webp) no-repeat
    calc(50% - 80px) 50% / auto 100%;
  grid-column: span 12;
  transform: scaleX(-1);
  position: relative;
  margin: 0 auto 2rem;
}
.hero-cta {
  margin: 0 auto 2rem;
}
section.services .card {
  flex-direction: column;
  margin-top: 2rem;
}
section.services h3 {
  margin: 0.5rem auto 1rem;
}
section.philosophy h2 {
  text-align: center;
}
section.philosophy {
  padding-top: 1rem;
}
.phil-image {
  min-height: 543px;
  background: url("../public/images/girl-in-grass.webp") no-repeat
    calc(50% + 50px) 50%;
  margin: 2rem 0 1rem;
  grid-column: span 12;
  background-size: auto 100%;
}
.testimonial-card {
  position: relative;
  text-align: center;
  overflow: hidden;
  margin: 3rem 0;
  padding: 3rem 1rem 2rem;
}
.testimonial-card img {
  border-radius: 50%;
}
.testimonial-card p {
  margin: 1rem 0;
}
.testimonial-card div {
  font-family: "Licorice", cursive;
  font-size: 1.75rem;
}
.testimonial-card svg {
  fill: var(--green);
  width: 120px;
  position: absolute;
  top: 20px;
  left: calc(50% - 180px);
}
/**********************
       404
/**********************/
.error {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background: url("../public/images/hexigon.svg") no-repeat left center/70%;
}
.error main {
  text-align: center;
  padding: 9rem 0;
}
.error h2 {
  font-size: 8rem;
  background: linear-gradient(
    0deg,
    rgba(28, 127, 165, 1) 0%,
    rgba(31, 31, 31, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1;
}
.error h4 {
  margin-bottom: 2rem;
  font-size: 1.125rem;
}
/**********************
       INTERIOR
/**********************/
main.interior {
  padding-top: 0;
}
.interior-gradient {
  grid-column: span 12;
  min-height: 302px;
  background: var(--green-gradient);
}
.interior h2.hero {
  text-align: center;
}
.interior .hero-image {
  min-height: 290px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
}
.couples .hero-image {
  background-image: url("../public/images/couple-in-session.webp");
}
.individual .hero-image {
  background-image: url("../public/images/individual-hero.webp");
  background-position: -350px 0;
}
.online .hero-image {
  background-image: url("../public/images/online-hero.webp");
  background-position: -550px 0;
}
.trauma .hero-image {
  background-image: url("../public/images/trauma-hero.webp");
  background-position: -290px 0;
}
.anxiety .hero-image {
  background-image: url("../public/images/anxiety-hero.webp");
  background-position: -290px 0;
}
.stress .hero-image {
  background-image: url("../public/images/stress-hero.webp");
  background-position: -300px;
}
.philosophy .hero-image {
  background-image: url("../public/images/philosophy-hero.webp");
}
.contact .hero-image {
  background-image: url("../public/images/contact-hero.webp");
}
.team .hero-image {
  background-image: url("../public/images/team-hero.webp");
}
.couples .phil-image {
  background-image: url("../public/images/couple-in-session-hex.webp");
  background-position: center;
}
.online .phil-image {
  background-image: url("../public/images/online-phil.webp");
  background-position: center;
}
.trauma .phil-image {
  background-image: url("../public/images/trauma-phil.webp");
  background-position: center;
}
.anxiety .phil-image {
  background-image: url("../public/images/anxiety-phil.webp");
  background-position: center;
}
.stress .phil-image {
  background-image: url("../public/images/stress-phil.webp");
  background-position: center;
}
.interior section.philosophy + h2 {
  margin-top: 1rem;
}
.interior section.services + h2 {
  margin-top: 3rem;
}

.faq {
  padding: 1rem 0 0;
  max-width: 1000px;
  margin: 0 auto 3rem;
}
.faq-q {
  display: flex;
  align-items: center;
  transition: all 0.5 ease;
  cursor: pointer;
}
.faq h3 {
  padding: 1rem;
  cursor: pointer;
  margin: 0;
  text-transform: none;
  font-weight: 600;
  line-height: 1.3;
  flex-grow: 1;
}
.faq .item-wrapper {
  padding: 1rem;
}
.faq svg {
  transition: transform 0.5s ease;
  align-self: center;
}
.faq p {
  max-height: 0px;
  overflow: hidden;
  transition: all 0.5s ease;
  margin: 0;
}
.faq-q.active {
  box-shadow: var(--shadow);
}
.philosophy h4 {
  font-size: 1.75rem;
  margin: 2rem 0 1rem;
}
ul.principles {
  list-style-type: square;
  list-style-position: inside;
  text-indent: -28px; /* key property */
  margin-left: 28px; /* key property */
  margin-bottom: 2rem;
}
ul.principles li {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.4;
}
ul.principles li::marker {
  color: var(--light-blue);
}
.philosophy p {
  font-size: 1.125rem;
}
section.principles {
  margin: 0 auto;
  max-width: 1000px;
}
.map + footer {
  margin-top: 0;
}
.google-map {
  width: 100%;
  height: 500px;
}
#map {
  height: 100%;
}
.pin {
  color: var(--dark-blue);
  font-size: 2rem;
  transform-origin: bottom left;
}
.pin-text {
  font-size: 1rem;
  width: 200px;
  background-color: rgba(249, 249, 249, 0.9);
  color: black;
  padding: 0.5rem;
  line-height: 1.5;
}
label {
  display: block;
}
button:disabled {
  background-color: grey;
  cursor: not-allowed;
}
button:disabled:hover {
  border-radius: 10px;
}
.contact form {
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
  min-height: 850px;
  position: relative;
}
.contact form button {
  width: 60%;
  align-self: center;
}
form h3 {
  text-transform: none;
  font-size: 1.875rem;
  line-height: 1;
  text-align: center;
}
form .captcha {
  margin: 1rem auto;
  display: flex;
  justify-content: center;
}
form .buttons {
  display: flex;
  flex-direction: column;
}
.info {
  display: flex;
  justify-content: center;
  margin: 0 auto 2rem;
}
.info h4 {
  line-height: 2.5;
}
.info svg {
  color: var(--black);
  margin-right: 1rem;
  font-size: 2rem;
  position: relative;
  bottom: -10px;
}
.contact .content {
  max-width: 1400px;
}
.team img {
  width: 200%;
}
.team .about {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  left: 0;
  right: 0;
  top: 0;
  bottom: 420px;
  overflow: hidden;
  transition: all 0.5s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 2;
  color: var(--green);
}
.team .about h3 {
  line-height: 0;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
.team .about h4 {
  color: var(--light-blue);
}
.team .about p {
  line-height: 1.2;
  width: 70%;
  margin: 0.5rem auto 0;
  color: var(--white);
  font-size: 0.8rem;
}
.hex-grid__item {
  cursor: pointer;
}
.hex-grid__item.show-info {
  transform: scale(1.2);
  z-index: 1;
}
.hex-grid__item.show-info .about {
  bottom: 0;
}
.team .sponsors {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin: 2rem auto 0;
}

/**********************
       @750px
/**********************/
@media screen and (min-width: 750px) {
  nav.footer-links {
    flex-wrap: nowrap;
    justify-content: space-around;
    padding-left: 10%;
  }
  nav.footer-links ul {
    width: 25%;
    text-align: left;
  }

  .hex1 {
    background: url("../public/images/hexigon.svg") no-repeat;
    min-width: 300px;
    min-height: 290px;
    position: absolute;
    right: -20px;
    top: 350px;
    animation: spin infinite 50s linear;
  }
  .hex2 {
    background: url("../public/images/hexigon.svg") no-repeat;
    min-width: 250px;
    min-height: 290px;
    position: absolute;
    top: 1320px;
    left: -80px;
    animation: spin infinite 50s linear;
  }
  .social {
    grid-column: span 6;
    align-self: center;
    justify-self: right;
  }
  .footer-logo {
    grid-column: span 6;
    background-position: 50px 0;
  }
  .hero-content {
    grid-column: 7 / span 6;
    max-width: 500px;
  }
  .homepage .hero-image {
    grid-column: span 6;
    grid-row: 1;
    background-position: right;
    transform: scaleX(1);
  }
  .hero-cta {
    margin: 0;
  }
  .homepage section.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .homepage section.services article {
    width: 32%;
  }
  section.services:last-of-type {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  section.services:last-of-type article {
    width: 32%;
  }
  section.testimonials {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    margin-bottom: 2rem;
  }
  .testimonial-card {
    width: 33%;
    font-size: 0.75rem;
  }
  .testimonial-card div {
    font-size: 1.3rem;
  }
  .testimonial-card:not(.center) {
    cursor: pointer;
  }
  .testimonial-card.center {
    position: absolute;
    z-index: 3;
    left: 30%;
    width: 40%;
    font-size: 1rem;
    top: -20px;
    animation: grow 1s;
  }
  .testimonial-card.center div {
    font-size: 2rem;
  }
  .interior-gradient {
    min-height: 382px;
  }
  .interior .hero-image {
    min-height: 370px;
    background-size: cover;
    max-width: 1600px;
    margin: 0 auto;
  }
  .interior .hero-content {
    grid-column: span 12;
    max-width: 100%;
    margin: 0 auto;
  }
  .interior .hero-content h2 {
    font-size: 3rem;
    padding-top: 1rem;
  }
  .interior .phil-image {
    grid-column: 1 / span 6;
    background-position: right;
  }
  .interior section.philosophy {
    grid-column: 7 / span 6;
    grid-row: 2;
  }
  .interior .hex2 {
    left: inherit;
    right: -28px;
  }
  .interior .hex1 {
    top: 450px;
  }
  .individual .hero-image {
    background-position: center;
  }
  .online .hero-image {
    background-position: center;
  }
  .trauma .hero-image {
    background-position: center;
  }
  .anxiety .hero-image {
    background-position: center;
  }
  .stress .hero-image {
    background-position: center;
  }
  .faq .item-wrapper {
    border-bottom: 1px solid var(--green);
  }
  .philosophy .hex1 {
    top: 800px;
  }
  .philosophy .hex2 {
    top: 1300px;
    right: 80%;
  }
  .contact form {
    padding: 3rem;
  }
  form .buttons {
    flex-direction: row;
    gap: 1rem;
  }
}
/**********************
       @900px
/**********************/
@media screen and (min-width: 900px) {
  /* header */
  header {
    min-height: 74px;
    position: relative;
  }
  header h1 {
    min-width: 190px;
    min-height: 40px;
  }
  header h1 {
    background: url("../public/images/logo-desktop.webp") no-repeat center/cover;
    min-height: 43px;
    margin: 17px 0 0 1rem;
  }
  .burger {
    display: none;
  }
  header nav > ul {
    display: flex;
    flex-direction: row;
    position: relative;
    top: inherit;
    left: inherit;
    padding: 0 27px 0 0;
    transition: none;
    height: 100%;
  }
  header nav > ul.active {
    top: inherit;
  }
  /* top level nav */
  header nav > ul > li {
    margin: 0 0;
    display: block;
    max-width: 130px;
    padding: 0 0;
    line-height: 4;
    background-color: var(--white);
    transition: none;
  }
  header nav > ul > li.active {
    border-bottom: 5px solid var(--light-blue);
  }
  header nav > ul > li > a {
    text-align: center;
    width: 100%;
  }
  /* subscribe button */
  header nav > ul > li:last-child {
    border: 4px solid var(--green);
    border-radius: 15px;
    position: relative;
    height: 60%;
    top: 15px;
    margin-left: 0.5rem;
  }
  header nav > ul > li:last-child:hover {
    background-color: var(--green);
  }
  header nav > ul > li:last-child a {
    position: relative;
    font: bold 14px/2.7 "Work Sans", sans-serif;
    text-transform: uppercase;
  }
  header nav > ul > li:hover {
    background-color: var(--hex-green);
  }
  .caret {
    display: none;
  }
  .dropdown > ul {
    display: block;
    top: -450px;
    left: 5px;
    transition: all 0.2s ease;
    box-shadow: var(--shadow);
    border-radius: 8px;
    z-index: -1;
  }
  .dropdown {
    text-align: center;
  }
  .dropdown.show > ul {
    position: absolute;
    top: 84px;
  }
  .dropdown > ul > li {
    padding: 0 40px 0 25px;
    width: 300px;
  }
  .dropdown > ul li:last-child {
    border-radius: 0 0 8px 8px;
  }
  .dropdown > ul li:first-child {
    border-radius: 8px 8px 0 0;
  }
  .dropdown.show > ul > li:hover {
    background-color: var(--hex-green);
  }
  .homepage .hero-image {
    min-height: 550px;
    background-image: url("../public/images/homepage-hero-lg.webp");
  }
  .homepage .hero-content {
    padding-top: 5rem;
  }
  .hex2 {
    top: 1480px;
    left: -30px;
  }
  .phil-image {
    grid-column: 7 / span 6;
    background-position: left;
  }
  section.philosophy {
    grid-column: span 6;
    grid-row: 3;
    place-self: center;
  }
  section.philosophy h2 {
    text-align: left;
  }
  nav.footer-links {
    grid-column: 5 / span 8;
    padding-left: 0;
  }
  .footer-logo {
    grid-column: span 4;
    grid-row: 1;
    height: 140px;
  }
  .social {
    grid-column: span 12;
    justify-self: center;
  }
  .interior .hero-content {
    width: 80%;
    max-width: 1000px;
  }
  .interior section.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .interior section.services article {
    width: 32%;
  }
  .philosophy .content {
    width: 80%;
    margin: 0 auto;
    max-width: 1000px;
  }
  .hex-grid__item:hover {
    transform: scale(1.2);
    z-index: 1;
  }
  .hex-grid__item:hover .about {
    bottom: 0;
  }
  .hex-grid__item {
    cursor: default;
  }
}
/**********************
      @1000
/**********************/
@media screen and (min-width: 1035px) {
  .contact .content {
    margin: 0 auto;
    display: flex;
  }
  div.info {
    flex-direction: column;
    align-items: center;
  }
  div.info-image {
    background: url("../public/images/contact-image.webp") left center;
    min-height: 500px;
    width: 100%;
    min-width: 500px;
  }
}
/**********************
      @1200
/**********************/
@media screen and (min-width: 1200px) {
  nav.footer-links {
    grid-column: 4 / span 6;
    padding-left: 0;
    justify-content: space-between;
  }
  nav.footer-links ul:last-child {
    width: 80px;
  }
  .footer-logo {
    grid-column: span 3;
    grid-row: 1;
  }
  .social {
    grid-column: 10 / span 4;
    justify-self: center;
    grid-row: 1;
    align-self: start;
  }
  .homepage .hero-content {
    grid-column: 8 / span 4;
  }
  .homepage .hero-image {
    grid-column: span 7;
  }
}
/**********************
      @1400
/**********************/
@media screen and (min-width: 1400px) {
  .anxiety .phil-image {
    background-size: contain;
  }
}
/**********************
       KEYFRAMES
/**********************/

@keyframes grow {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.floating {
  margin-bottom: 2rem;
  transition: background-color 0.2s ease;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.floating:hover,
.floating:focus-within {
  background-color: white;
}

.floating-input {
  padding: 1.8rem 1rem 0.6rem;
  font-size: 1rem;
  border: none;
  background-color: rgb(240, 240, 240);
  border-bottom: 0.2rem solid var(--dark-blue);
  transition: border-color 0.2s ease;
  caret-color: var(--dark-blue);
  width: 100%;
  border-radius: 5px;
}
.floating:hover .floating-input {
  border-color: var(--light-blue);
  background-color: white;
}

.floating-input::placeholder {
  color: rgba(0, 0, 0, 0);
}

.floating-label {
  display: block;
  position: relative;
  max-height: 0;
  font-weight: 500;
  pointer-events: none;
  bottom: 5px;
}

.floating-label::before {
  color: black;
  content: attr(data-content);
  display: inline-block;
  filter: blur(0);
  backface-visibility: hidden;
  transform-origin: left top;
  transition: transform 0.2s ease;
  left: 1rem;
  position: relative;
}

.floating-label::after {
  bottom: 1rem;
  content: "";
  height: 0.1rem;
  position: absolute;
  transition: transform 180ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 180ms cubic-bezier(0.4, 0, 0.2, 1), background-color 0.3s ease;
  opacity: 0;
  left: 0;
  top: 100%;
  margin-top: -0.1rem;
  transform: scale3d(0, 1, 1);
  width: 100%;
  background-color: var(--green);
}

.floating-input:focus + .floating-label::after {
  transform: scale3d(1, 1, 1);
  opacity: 1;
}

.floating-input:placeholder-shown + .floating-label::before {
  transform: translate3d(0, -2.2rem, 0) scale3d(1, 1, 1);
}

.floating-label::before,
.floating-input:focus + .floating-label::before {
  transform: translate3d(0, -3.12rem, 0) scale3d(0.82, 0.82, 1);
}

.floating-input:focus + .floating-label::before {
  color: var(--light-blue);
}
.hidden-visually {
  border: 0;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.submitted {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 28% 0 0;
  text-align: center;
}
.spinner {
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 10px;
  display: grid;
  place-items: center;
}
.submitted h4 {
  margin: 0 0 0.5rem;
}
.lds-ring {
  display: block;
  position: relative;
  width: 100px;
  height: 100px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 100px;
  height: 100px;
  margin: 8px;
  border: 8px solid var(--green);
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: var(--green) transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
